.about {
    height: 42px;
    width: 117vh;
    padding: 10px 10px;
    background: darkcyan;
}

.experience {
    height: 42px;
    width: 117vh;
    padding: 10px 10px;
    background: darkcyan;
    margin-top: 3rem;
}

.header-card {
    background: darkturquoise;
}

.skill {
    height: 42px;
    width: 117vh;
    padding: 10px 10px;
    background: darkcyan;
    margin-top: 3rem;
}