.about {

    width: 117vh;
    padding: 10px 10px;
    background: darkcyan;
}

.experience {
    width: 117vh;
    padding: 10px 10px;
    background: darkcyan;
    margin-top: 3rem;
}

.header-card {
    background: darkturquoise;
}

.skill {
    height: 42px;
    width: 117vh;
    padding: 10px 10px;
    background: darkcyan;
    margin-top: 3rem;
}

.about,
.experience,
.skill {
    height: 62px;
    font-size: 26px;
    font-weight: 800;
}

.duration {
    font-size: 18px;
    color: cadetblue;
    margin-bottom: 1rem;
}

.skill-label {
    margin-left: 21px;
}