.footer {
    height: 10rem;
    width: 100%;
    background: darkcyan;
    margin-top: 2rem;
}

.footer-contact {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.get-code {
    display: flex !important;
    justify-content: center;
    align-items: center;
}